:root{

  /* clr-bkg */
	--clr-bkg: #EBEBEB;
	--clr-bkg-light: #FBFBFB;

  /* clr-prime */
	--clr-prime: #3366FF;
	--clr-prime-light: #429FEA;

  /* clr-txt */
	--clr-txt: #323232;
	--clr-txt-dark: #080808;
}
