

v-main{
	flex: 1;
	background: #fff;

	/* for dev */
	margin: 1rem;
	border: solid 1px var(--clr-prime); 

	/* children positioning with css grid */
	display: grid;
	align-items: center;
	justify-content: center;

	/* demo box */
	.hello-box{
		padding: 3rem;
		box-shadow: var(--elev-3);		
		font-size: 1.5rem;
		display: flex;
		align-items: center;

		c-ico{
			--fill: green; /* cssVar for shadowRoot svg element styling */
			width: 2rem;
			height: 2rem;
			margin-right: 1rem;
		}

	}
}