:root{

  /* gray */
	--clr-gray: #EEEEEE; 
	--clr-gray-dark: #767676; 
	--clr-gray-light: #FAFAFA; 

  /* prime */
	--clr-prime: #3366FF; 
	--clr-prime-light: #429FEA; 

  /* highlight */
	--clr-highlight: #DDF0FF;

  /* txt */
	--clr-txt: #323232;
	--clr-txt-dark: #080808;
	--clr-txt-light: #727272;
	--clr-txt-ok: #388E3C;
}
