:root{

  /* clr-gray */
	--clr-gray: #EEEEEE;
	--clr-gray-dark: #BDBDBD;
	--clr-gray-light: #FAFAFA;

  /* clr-highlight */
	--clr-highlight: #DDF0FF;

  /* clr-prime */
	--clr-prime: #3366FF;
	--clr-prime-light: #429FEA;

  /* clr-txt */
	--clr-txt: #323232;
	--clr-txt-dark: #080808;
	--clr-txt-light: #727272;
	--clr-txt-ok: #388E3C;
}
